body {
  background-color: rgb(137, 168, 255);
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.question {
  font-size: 2.5em;
  font-weight: 700;

}

.buttonContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 700px;
}

.btn {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1.3em;
  cursor: pointer;
}

.yes {
  background-color: rgb(255, 154, 255);
}

.no {
  background-color: #fff
}